<h4>Summary</h4>

<div class="pure-u-1-4 summary-box">
    <div class="pure-u-1 summary-box-title">	
        Root topics
    </div>
    <ul class="summary-box-content">
	    {{#each view.content.rootTopics}}
		   <li>{{#link-to 'topic' name}}{{name}}{{/link-to}}</b></li>
		{{else}}
            No root topics
        {{/each}}
	</ul>
</div>

<div class="pure-u-1-4 summary-box">
    <div class="pure-u-1 summary-box-title">	
        Subscriptions
    </div>
    <ul class="summary-box-content">
        {{#each view.content.subscriptions}}
           <li>from <b>{{ip}}</b> on {{#link-to 'topic' topic}}{{topic}}{{/link-to}}</li>
        {{else}}
            No subscriptions
        {{/each}}
    </ul>
</div>

<div class="pure-u-1-4 summary-box">
    <div class="pure-u-1 summary-box-title">    
       Health check
    </div>
    <ul class="summary-box-content">
        <li><i class="fa fa-clock-o"></i> System uptime : 
            <span id="uptime">{{view.content.system.uptime}}</span>
        </li>
        <li class="warning">
           <i class="fa fa-exclamation-triangle"></i> Requests timed out : 
           <span id="requestTimeouts">{{view.content.system.requestTimeouts}}</span>
        </li>
        <li>Total requests : {{view.content.system.totalRequests}}</li>
        <li>Max opened requests : {{view.content.system.maxOpenRequests}}</li>
        <li>Opened requests : {{view.content.system.openRequests}}</li>
       
        <li>Total connections : {{view.content.system.totalConnections}}</li>
        <li>Max opened connections : {{view.content.system.maxOpenConnections}}</li>
        <li>Opened connections : {{view.content.system.openConnections}}</li>
       
    </ul>
</div>