<h4>Subscriptions</h4>

<table id="center-table" class="pure-table pure-table-horizontal">
	<thead>
	    <tr>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th>IP Address</th>
	        <th>Mode</th>
	        <th>Support</th>
	        <th>Creation date</th>
	        <th>Kill</th>
	    </tr>
	</thead>
	<tbody>
  		{{#each controller}}
  			<tr>
  			    <td><b>{{#link-to 'topic' topic}}{{topic}}{{/link-to}}</b></td>
  			    <td>{{ip}}</td>
  			    <td>{{mode}}</td>
  			    <td>{{support}}</td>
  		     	<td>{{prettyCreationDate}}</td>
 				 <td>
					<button class="pure-button delete-button" {{action "deleteSubscriber" id}}>
						<i class="fa fa-trash-o"></i>
					</button>
			    </td>
			</tr>    
		{{/each}}
	</tbody>	
</table>