<h4>Timers metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	        <th>max</th>
	        <th>min</th>
	        <th>mean</th>
	        <th>stdDev</th>
	        <th>50p</th>
	        <th>75p</th>
	        <th>95p</th>
	        <th>98p</th>
	        <th>99p</th>
	        <th>99.9p</th>
	        <th>15m</th>
	        <th>5m</th>
	        <th>1m</th>
	        <th>mean</th>
	    </tr>
	</thead>
	<tbody>
		{{#each view.content.timers}}
			<tr>
				<td class="left">{{name}}</td>
				<td>{{count}}</td>
				<td>{{toFixed max 2}} ms</td>
				<td>{{toFixed min 2}} ms</td>
				<td>{{toFixed mean 2}} ms</td>
				<td>{{toFixed stdDev 2}} ms</td>
				<td>{{toFixed 50p 2}} ms</td>
				<td>{{toFixed 75p 2}} ms</td>
				<td>{{toFixed 95p 2}} ms</td>
				<td>{{toFixed 98p 2}} ms</td>
				<td>{{toFixed 99p 2}} ms</td>
				<td>{{toFixed 999p 2}} ms</td>
				<td>{{toFixed fifteenMinuteRate 2}} / sec</td>
				<td>{{toFixed fiveMinuteRate 2}} / sec</td>
			    <td>{{toFixed oneMinuteRate 2}} / sec</td>
				<td>{{toFixed meanRate 2}} / sec</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<h4>Meters metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	        <th>15m</th>
	        <th>5m</th>
	        <th>mean</th>
	        <th>1m</th>
	    </tr>
	</thead>
	<tbody>
		{{#each view.content.meters}}
			<tr>
				<td class="left">{{name}}</td>
				<td>{{count}}</td>
				<td>{{toFixed fifteenMinuteRate 2}} / sec</td>
				<td>{{toFixed fiveMinuteRate 2}} / sec</td>
				<td>{{toFixed meanRate 2}} / sec</td>
				<td>{{toFixed oneMinuteRate 2}} / sec</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<h4>Counters metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	    </tr>
	</thead>
	<tbody>
		{{#each view.content.counters}}
			<tr>
				<td class="left">{{name}}</td>
				<td>{{count}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>