<h4>System metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>meter name</th>
	        <th>count</th>
	        <th>15 min rate</th>
	        <th>15 min rate</th>
	        <th>mean rate</th>
	        <th>1 min rate</th>
	    </tr>
	</thead>
	<tbody>
		{{#each view.content.meters}}
			<tr>
				<td>{{name}}</td>
				<td>{{count}}</td>
				<td>{{toFixed fifteenMinuteRate 2}}</td>
				<td>{{toFixed fiveMinuteRate 2}}</td>
				<td>{{toFixed meanRate 2}}</td>
				<td>{{toFixed oneMinuteRate 2}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
