<h4>Timers metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	        <th>max</th>
	        <th>min</th>
	        <th>mean</th>
	        <th>stdDev</th>
	        <th>50p</th>
	        <th>75p</th>
	        <th>95p</th>
	        <th>98p</th>
	        <th>99p</th>
	        <th>99.9p</th>
	        <th>15m</th>
	        <th>5m</th>
	        <th>1m</th>
	        <th>mean</th>
	    </tr>
	</thead>
	<tbody>
		{{#each t in view.content.timers}}
			<tr>
				<td class="left">{{t.name}}</td>
				<td>{{t.count}}</td>
				<td>{{duration-format t.max 2}}</td>
				<td>{{duration-format t.min 2}}</td>
				<td>{{duration-format t.mean 2}}</td>
				<td>{{duration-format t.stdDev 2}}</td>
				<td>{{duration-format t.50p 2}}</td>
				<td>{{duration-format t.75p 2}}</td>
				<td>{{duration-format t.95p 2}}</td>
				<td>{{duration-format t.98p 2}}</td>
				<td>{{duration-format t.99p 2}}</td>
				<td>{{duration-format t.999p 2}}</td>
				<td>{{to-fixed t.fifteenMinuteRate 2}} / sec</td>
				<td>{{to-fixed t.fiveMinuteRate 2}} / sec</td>
			    <td>{{to-fixed t.oneMinuteRate 2}} / sec</td>
				<td>{{to-fixed t.meanRate 2}} / sec</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<h4>Meters metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	        <th>15m</th>
	        <th>5m</th>
	        <th>mean</th>
	        <th>1m</th>
	    </tr>
	</thead>
	<tbody>
		{{#each m in view.content.meters}}
			<tr>
				<td class="left">{{m.name}}</td>
				<td>{{m.count}}</td>
				<td>{{to-fixed m.fifteenMinuteRate 2}} / sec</td>
				<td>{{to-fixed m.fiveMinuteRate 2}} / sec</td>
				<td>{{to-fixed m.meanRate 2}} / sec</td>
				<td>{{to-fixed m.oneMinuteRate 2}} / sec</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<h4>Counters metrics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th>name</th>
	        <th>count</th>
	    </tr>
	</thead>
	<tbody>
		{{#each c in view.content.counters}}
			<tr>
				<td class="left">{{c.name}}</td>
				<td>{{c.count}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>