<h4>Root topics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th><i class="fa fa-users"></i> Subscriber number</th>
	        <th>Event number</th>
	        <th>Subtopic number</th>
	        <th>Subtopics</th>
	        <th>Created</th>
	        <th>Delete</th>
	    </tr>
	</thead>
	<tbody>
		{{#each controller}}
			<tr>
			    <td><b>{{#link-to 'topic' name}}{{name}}{{/link-to}}</b></td>
			    <td>{{subscribersNumber}}</td>
			    <td>{{eventsNumber}}</td>
			    <td>{{subTopicsNumber}}</td>
			    <td>
			    	<ul>
				        {{#each subTopics}} 
				          <li>{{#link-to 'topic' this}} {{this}} {{/link-to}}</li> 
				        {{/each}}
			        </ul>
			    </td>
			    <td>{{prettyCreationDate}}</td>
			    <td><a class="pure-button delete-button"><i class="fa fa-trash-o"></i></a></td>
			</tr>
		{{/each}}
	</tbody>
</table>