<h4>Root topics</h4>

<table id="center-table" class="pure-table">
	<thead>
	    <tr>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th><i class="fa fa-users"></i> Subscriber number</th>
	        <th>Event number</th>
	        <th>Subtopic number</th>
	        <th>Subtopics</th>
	    </tr>
	</thead>
	<tbody>
		{{#each controller}}
			<tr>
			    <td><b>{{#link-to 'topic' name}}{{name}}{{/link-to}}</b></td>
			    <td>{{subscribersNumber}}</td>
			    <td>{{eventsNumber}}</td>
			    <td>{{subTopicsNumber}}</td>
			    <td>{{subTopics}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>