<h4>Create topics</h4>

<form class="pure-form">
	{{input value=newTopicName placeholder="new/topic" }}
	<button class="pure-button pure-button-primary" {{action 'createTopic' newTopicName}}>
		<i class="fa fa-plus-circle"></i>
	</button>
</form>

<h4>Root topics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th></th>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th><i class="fa fa-users"></i> Subscriber</th>
	        <th><i class="fa fa-exchange"></i> Event</th>
	        <th><i class="fa fa-dashboard"></i> Throughput</th>
	        <th><i class="fa fa-sitemap"></i> Subtopic</th>
	        <th>Created</th>
	        <th>Delete</th>
	    </tr>
	</thead>
	<tbody>
		{{#each topic in controller}}
			{{#view 'topicRow' topicv=topic}}
				<td>
					{{#if topic.hasSubTopics}}
						{{#if view.isExpanded}}
						    <a href="#" {{action "expand" target="view"}}>
						        <i class="fa fa-minus-square-o"></i>
						    </a>
						{{else}} 
							<a href="#" {{action "expand" target="view"}}>
						        <i class="fa fa-plus-square-o"></i>
						    </a>
						{{/if}}   
					{{/if}}
				</td>
			    <td style="text-align: left;">
			    	<b>{{#link-to 'topic' topic.name}}{{topic.name}}{{/link-to}}</b>
			    </td>
			    <td>{{topic.subscribersNumber}}</td>
			    <td>{{topic.eventsNumber}}</td>
			    <td>{{topic.throughputPerSec}} msg / sec</td>
			    <td>{{topic.subTopicsNumber}}</td>
			    <td>{{topic.prettyCreationDate}}</td>
			    <td>
					<button class="pure-button delete-button" {{action "deleteTopic" topic.name }}>
						<i class="fa fa-trash-o"></i>
					</button>
			    </td>
			{{/view}}
		{{/each}}
	</tbody>
</table>
