<h4>Create topics</h4>

<form class="pure-form">
	{{view Ember.TextField valueBinding="App.TopicsController.newTopicName" placeholder="new/topic" }}
	<button class="pure-button pure-button-primary" 
	{{action "createTopic" App.TopicsController.newTopicName}}>
		<i class="fa fa-plus-circle"></i>
	</button>
</form>

<h4>Root topics</h4>

<table id="center-table" class="pure-table pure-table-horizontal pure-table-striped">
	<thead>
	    <tr>
	    	<th></th>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th><i class="fa fa-users"></i> Subscriber</th>
	        <th>Event</th>
	        <th>Subtopic</th>
	        <th>Created</th>
	        <th>Delete</th>
	    </tr>
	</thead>
	<tbody>
		{{#each controller}}
			{{#view App.TopicRowView topicBinding="this"}}
				<td>
					{{#if view.topic.hasSubTopics}}
						{{#if view.isExpanded}}
						    <a href="#" {{action "expand" view.topic.subTopics target="view"}}>
						        <i class="fa fa-minus-square-o"></i>
						    </a>
						{{else}} 
							<a href="#" {{action "expand" view.topic.subTopics target="view"}}>
						        <i class="fa fa-plus-square-o"></i>
						    </a>
						{{/if}}   
					{{/if}}
				</td>
			    <td style="text-align: left;">
			    	<b>{{#link-to 'topic' view.topic.name}}{{view.topic.name}}{{/link-to}}</b>
			    </td>
			    <td>{{view.topic.subscribersNumber}}</td>
			    <td>{{view.topic.eventsNumber}}</td>
			    <td>{{view.topic.subTopicsNumber}}</td>
			    <td>{{view.topic.prettyCreationDate}}</td>
			    <td>
					<button class="pure-button delete-button" {{action "deleteTopic" view.topic.name}}>
						<i class="fa fa-trash-o"></i>
					</button>
			    </td>
			{{/view}}
		{{/each}}
	</tbody>
</table>